In [1]:
### extract the data to test and work with
%run parta1.py

In [2]:
# extracting relevant data from full dataframe
relevant_data = covid_data[['location','date','new_cases','new_deaths']]

In [3]:
relevant_data.head(10)

      location        date  new_cases  new_deaths
0  Afghanistan  24/02/2020        1.0         NaN
1  Afghanistan  25/02/2020        0.0         NaN
2  Afghanistan  26/02/2020        0.0         NaN
3  Afghanistan  27/02/2020        0.0         NaN
4  Afghanistan  28/02/2020        0.0         NaN
5  Afghanistan  29/02/2020        0.0         NaN
6  Afghanistan   1/03/2020        0.0         NaN
7  Afghanistan   2/03/2020        0.0         NaN
8  Afghanistan   3/03/2020        1.0         NaN
9  Afghanistan   4/03/2020        2.0         NaN

In [49]:
lst69 = list(relevant_data.new_cases[12:24].cumsum())
lst69

[0.0, 1.0, 3.0, 4.0, 7.0, 8.0, 9.0, 11.0, 12.0, 14.0, 16.0, 20.0]

In [50]:
# checking how to reassign the values of the date column
relevant_data.date[5][-4:]

'2020'

In [51]:
relevant_data.date[0][6:] != '2020'

False

In [52]:
print(len(relevant_data))

80520

In [4]:
relevant_data

          location        date  new_cases  new_deaths
0      Afghanistan  24/02/2020        1.0         NaN
1      Afghanistan  25/02/2020        0.0         NaN
2      Afghanistan  26/02/2020        0.0         NaN
3      Afghanistan  27/02/2020        0.0         NaN
4      Afghanistan  28/02/2020        0.0         NaN
...            ...         ...        ...         ...
80515     Zimbabwe   5/04/2021       11.0         0.0
80516     Zimbabwe   6/04/2021       32.0         6.0
80517     Zimbabwe   7/04/2021       18.0         0.0
80518     Zimbabwe   8/04/2021       68.0         1.0
80519     Zimbabwe   9/04/2021       95.0         3.0

[80520 rows x 4 columns]

In [4]:
# convert each date to just its month and remove any data that isn't from 2020
relevant_data1 = relevant_data.copy()

for i in relevant_data1.index:
    if relevant_data1.date[i][-4:] != '2020':
        relevant_data1 = relevant_data1.drop(i)
        continue
    month_index = relevant_data1.date[i][3:5]
    if "/" in month_index:
        month_index = month_index.replace("/","")
            
    relevant_data1.date[i] = int(month_index)
        

relevant_data1.index = list(range(len(relevant_data1)))
relevant_data1
# takes ages to run

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

          location date  new_cases  new_deaths
0      Afghanistan    2        1.0         NaN
1      Afghanistan    2        0.0         NaN
2      Afghanistan    2        0.0         NaN
3      Afghanistan    2        0.0         NaN
4      Afghanistan    2        0.0         NaN
...            ...  ...        ...         ...
59820     Zimbabwe   12      114.0         8.0
59821     Zimbabwe   12       71.0         5.0
59822     Zimbabwe   12      177.0         5.0
59823     Zimbabwe   12      300.0         1.0
59824     Zimbabwe   12      242.0         3.0

[59825 rows x 4 columns]

In [7]:
# create dictionary of indexes representing each location
# locations = set(list(relevant_data.location))
location_dic = {}
for i in range(len(relevant_data1.index)):
    if relevant_data1.location[i] not in location_dic:
        location_dic[relevant_data1.location[i]] = [i]
    else:
        location_dic[relevant_data1.location[i]].append(i)
        
       
# each entry is a list of all the indexes of that location.

In [8]:
# import numpy as np

months = ['January','February','March','April','May','June','July','August','September','October','November']
i =location_dic['Afghanistan'][0]
location = 'Afghanistan'
data = {}
month = months[relevant_data1.date[i]-1]
new_cases = relevant_data1.new_cases[i]
new_deaths = relevant_data1.new_deaths[i]
data[month] = [new_cases, new_deaths]
data[month] != [0,0]
month_list = [location, month, data[month][0], data[month][1]]
type(month_list[3])
np.isnan(month_list[3])

True

In [37]:
months = ['January','February','March','April','May','June','July','August','September','October','November','December']
full_data = [];

# adding in the monthly data for each location to the full data list
for location in location_dic:
    location_data = {}
    
    for index in location_dic[location]:
        # getting monthly new death and case data for location
        month = months[relevant_data1.date[index]-1]
        new_cases = relevant_data1.loc[index,'new_cases']
        new_deaths = relevant_data1.loc[index,'new_deaths']
        if np.isnan(new_cases):
            new_cases = 0;
        if np.isnan(new_deaths):
            new_deaths = 0;
    
        new_cases = int(new_cases)
        new_deaths = int(new_deaths)
    
        if month not in location_data.keys():
            location_data[month] = [new_cases, new_deaths]
        else:
            location_data[month][0] += int(new_cases)
            location_data[month][1] += int(new_deaths)
    for month in location_data.keys():
        if location_data[month] != [0,0]:
            month_list = [location, month, location_data[month][0], location_data[month][1]]
            full_data.append(month_list)
    location_data.clear()
    if location == 'Afghanistan':
        print(location_data)
print(relevant_data1.new_cases[3])

full_data 
# cant figure out why some of thenumbers are so high

{}
0.0

[['Afghanistan', 'February', 1578, 124],
 ['Afghanistan', 'March', 174, 4],
 ['Afghanistan', 'April', 1952, 60],
 ['Afghanistan', 'May', 13081, 194],
 ['Afghanistan', 'June', 16299, 494],
 ['Afghanistan', 'July', 5158, 532],
 ['Afghanistan', 'August', 1494, 119],
 ['Afghanistan', 'September', 1109, 57],
 ['Afghanistan', 'December', 4100, 286],
 ['Afghanistan', 'October', 1732, 64],
 ['Afghanistan', 'January', 872, 39],
 ['Afghanistan', 'November', 3977, 218],
 ['Africa', 'February', 132384, 2878],
 ['Africa', 'March', 5778, 200],
 ['Africa', 'April', 32972, 1434],
 ['Africa', 'May', 107806, 2588],
 ['Africa', 'June', 258342, 5924],
 ['Africa', 'July', 523179, 9536],
 ['Africa', 'August', 324155, 10130],
 ['Africa', 'September', 229700, 6051],
 ['Africa', 'December', 528107, 12364],
 ['Africa', 'October', 229187, 5224],
 ['Africa', 'January', 106275, 2756],
 ['Africa', 'November', 282574, 6383],
 ['Albania', 'February', 7006, 141],
 ['Albania', 'March', 243, 15],
 ['Albania', 'April', 530, 16],
 ['Albania', 'May', 364, 2],
 ['Albania', 'June', 1398, 29],
 ['Albania', 'July', 2741, 95],
 ['Albania', 'August', 4237, 127],
 ['Albania', 'September', 4136, 103],
 ['Albania', 'December', 14545, 256],
 ['Albania', 'October', 5809, 96],
 ['Albania', 'January', 3856, 62],
 ['Albania', 'November', 13451, 239],
 ['Algeria', 'February', 6816, 123],
 ['Algeria', 'March', 715, 44],
 ['Algeria', 'April', 3290, 406],
 ['Algeria', 'May', 5388, 203],
 ['Algeria', 'June', 4513, 259],
 ['Algeria', 'July', 16487, 298],
 ['Algeria', 'August', 14100, 300],
 ['Algeria', 'September', 7036, 226],
 ['Algeria', 'December', 10870, 255],
 ['Algeria', 'October', 5138, 175],
 ['Algeria', 'January', 4751, 98],
 ['Algeria', 'November', 20506, 369],
 ['Andorra', 'March', 376, 12],
 ['Andorra', 'April', 369, 30],
 ['Andorra', 'May', 19, 9],
 ['Andorra', 'June', 91, 1],
 ['Andorra', 'July', 70, 0],
 ['Andorra', 'August', 251, 1],
 ['Andorra', 'September', 874, 0],
 ['Andorra', 'December', 1533, 8],
 ['Andorra', 'October', 2060, 20],
 ['Andorra', 'January', 681, 0],
 ['Andorra', 'November', 1308, 1],
 ['Andorra', 'February', 417, 2],
 ['Angola', 'March', 7, 2],
 ['Angola', 'April', 20, 0],
 ['Angola', 'May', 59, 2],
 ['Angola', 'June', 198, 9],
 ['Angola', 'July', 864, 39],
 ['Angola', 'August', 1506, 56],
 ['Angola', 'September', 2318, 75],
 ['Angola', 'December', 2808, 76],
 ['Angola', 'October', 4774, 72],
 ['Angola', 'January', 1875, 24],
 ['Angola', 'November', 2459, 40],
 ['Angola', 'February', 665, 10],
 ['Antigua and Barbuda', 'March', 7, 0],
 ['Antigua and Barbuda', 'April', 17, 3],
 ['Antigua and Barbuda', 'May', 2, 0],
 ['Antigua and Barbuda', 'June', 43, 0],
 ['Antigua and Barbuda', 'July', 22, 0],
 ['Antigua and Barbuda', 'August', 3, 0],
 ['Antigua and Barbuda', 'September', 7, 0],
 ['Antigua and Barbuda', 'December', 23, 1],
 ['Antigua and Barbuda', 'October', 17, 0],
 ['Antigua and Barbuda', 'January', 3, 0],
 ['Antigua and Barbuda', 'November', 10, 1],
 ['Antigua and Barbuda', 'February', 5, 0],
 ['Argentina', 'January', 83575, 2905],
 ['Argentina', 'February', 50689, 1492],
 ['Argentina', 'March', 1054, 27],
 ['Argentina', 'April', 3374, 191],
 ['Argentina', 'May', 12423, 321],
 ['Argentina', 'June', 47679, 768],
 ['Argentina', 'July', 126772, 2236],
 ['Argentina', 'August', 226433, 5117],
 ['Argentina', 'September', 333266, 8277],
 ['Argentina', 'December', 270759, 9311],
 ['Argentina', 'October', 295456, 7777],
 ['Argentina', 'November', 174034, 4823],
 ['Armenia', 'March', 532, 3],
 ['Armenia', 'April', 1534, 29],
 ['Armenia', 'May', 7216, 99],
 ['Armenia', 'June', 16260, 312],
 ['Armenia', 'July', 13008, 295],
 ['Armenia', 'August', 5231, 141],
 ['Armenia', 'September', 6578, 80],
 ['Armenia', 'December', 20071, 481],
 ['Armenia', 'October', 34726, 331],
 ['Armenia', 'January', 17653, 239],
 ['Armenia', 'November', 27658, 584],
 ['Armenia', 'February', 8942, 229],
 ['Asia', 'January', 842449, 14129],
 ['Asia', 'February', 1169342, 17200],
 ['Asia', 'March', 95313, 4232],
 ['Asia', 'April', 341931, 11570],
 ['Asia', 'May', 617814, 12125],
 ['Asia', 'June', 1166426, 26152],
 ['Asia', 'July', 1991314, 39743],
 ['Asia', 'August', 2817359, 45881],
 ['Asia', 'September', 3554777, 52510],
 ['Asia', 'December', 2975935, 45986],
 ['Asia', 'October', 2055051, 32967],
 ['Asia', 'November', 2243545, 34900],
 ['Australia', 'January', 83, 0],
 ['Australia', 'February', 104, 0],
 ['Australia', 'March', 4534, 18],
 ['Australia', 'April', 2207, 75],
 ['Australia', 'May', 436, 10],
 ['Australia', 'June', 718, 1],
 ['Australia', 'July', 9360, 97],
 ['Australia', 'August', 8539, 456],
 ['Australia', 'September', 1277, 231],
 ['Australia', 'December', 573, 10],
 ['Australia', 'October', 351, 10],
 ['Australia', 'November', 243, 1],
 ['Austria', 'February', 28555, 872],
 ['Austria', 'March', 10171, 128],
 ['Austria', 'April', 5272, 456],
 ['Austria', 'May', 1279, 84],
 ['Austria', 'June', 1035, 37],
 ['Austria', 'July', 3364, 13],
 ['Austria', 'August', 6308, 15],
 ['Austria', 'September', 17375, 66],
 ['Austria', 'December', 58188, 2209],
 ['Austria', 'October', 51737, 267],
 ['Austria', 'January', 53821, 345],
 ['Austria', 'November', 123710, 1730],
 ['Azerbaijan', 'March', 298, 5],
 ['Azerbaijan', 'April', 1506, 19],
 ['Azerbaijan', 'May', 3690, 39],
 ['Azerbaijan', 'June', 12030, 150],
 ['Azerbaijan', 'July', 14354, 235],
 ['Azerbaijan', 'August', 4557, 86],
 ['Azerbaijan', 'September', 3794, 57],
 ['Azerbaijan', 'December', 61435, 900],
 ['Azerbaijan', 'October', 13750, 125],
 ['Azerbaijan', 'January', 10777, 122],
 ['Azerbaijan', 'November', 55130, 540],
 ['Azerbaijan', 'February', 37379, 363],
 ['Bahamas', 'March', 14, 0],
 ['Bahamas', 'April', 67, 11],
 ['Bahamas', 'May', 21, 0],
 ['Bahamas', 'June', 2, 0],
 ['Bahamas', 'July', 470, 3],
 ['Bahamas', 'August', 1643, 36],
 ['Bahamas', 'September', 1906, 46],
 ['Bahamas', 'December', 876, 13],
 ['Bahamas', 'October', 2001, 42],
 ['Bahamas', 'January', 250, 10],
 ['Bahamas', 'November', 577, 9],
 ['Bahamas', 'February', 44, 0],
 ['Bahrain', 'February', 1580, 6],
 ['Bahrain', 'March', 526, 4],
 ['Bahrain', 'April', 2473, 4],
 ['Bahrain', 'May', 8358, 11],
 ['Bahrain', 'June', 15360, 68],
 ['Bahrain', 'July', 14224, 60],
 ['Bahrain', 'August', 10990, 43],
 ['Bahrain', 'September', 18892, 61],
 ['Bahrain', 'December', 8176, 25],
 ['Bahrain', 'October', 6785, 50],
 ['Bahrain', 'January', 1987, 8],
 ['Bahrain', 'November', 3324, 12],
 ['Bangladesh', 'March', 51, 5],
 ['Bangladesh', 'April', 7616, 163],
 ['Bangladesh', 'May', 39486, 482],
 ['Bangladesh', 'June', 98330, 1197],
 ['Bangladesh', 'July', 92178, 1264],
 ['Bangladesh', 'August', 75335, 1170],
 ['Bangladesh', 'September', 50483, 970],
 ['Bangladesh', 'December', 41797, 855],
 ['Bangladesh', 'October', 31814, 446],
 ['Bangladesh', 'January', 14237, 169],
 ['Bangladesh', 'November', 43011, 552],
 ['Bangladesh', 'February', 19172, 286],
 ['Barbados', 'March', 34, 0],
 ['Barbados', 'April', 47, 7],
 ['Barbados', 'May', 11, 0],
 ['Barbados', 'June', 5, 0],
 ['Barbados', 'July', 13, 0],
 ['Barbados', 'August', 64, 0],
 ['Barbados', 'September', 16, 0],
 ['Barbados', 'December', 107, 0],
 ['Barbados', 'October', 33, 0],
 ['Barbados', 'January', 6, 0],
 ['Barbados', 'November', 33, 0],
 ['Barbados', 'February', 14, 0],
 ['Belarus', 'February', 15807, 72],
 ['Belarus', 'March', 151, 1],
 ['Belarus', 'April', 13875, 88],
 ['Belarus', 'May', 28529, 146],
 ['Belarus', 'June', 19562, 157],
 ['Belarus', 'July', 5690, 167],
 ['Belarus', 'August', 4035, 122],
 ['Belarus', 'September', 6788, 152],
 ['Belarus', 'December', 45671, 246],
 ['Belarus', 'October', 16011, 95],
 ['Belarus', 'January', 8780, 31],
 ['Belarus', 'November', 29385, 147],
 ['Belgium', 'February', 20299, 958],
 ['Belgium', 'March', 12774, 705],
 ['Belgium', 'April', 35744, 6889],
 ['Belgium', 'May', 9862, 1873],
 ['Belgium', 'June', 3046, 280],
 ['Belgium', 'July', 7324, 94],
 ['Belgium', 'August', 16485, 54],
 ['Belgium', 'September', 33216, 121],
 ['Belgium', 'December', 79382, 2060],
 ['Belgium', 'October', 280248, 1474],
 ['Belgium', 'January', 73953, 1591],
 ['Belgium', 'November', 74163, 3429],
 ['Belize', 'March', 3, 0],
 ['Belize', 'April', 15, 2],
 ['Belize', 'June', 6, 0],
 ['Belize', 'July', 24, 0],
 ['Belize', 'August', 959, 11],
 ['Belize', 'September', 985, 14],
 ['Belize', 'December', 2692, 73],
 ['Belize', 'October', 1060, 24],
 ['Belize', 'January', 743, 12],
 ['Belize', 'November', 1624, 77],
 ['Belize', 'February', 2665, 35],
 ['Benin', 'March', 9, 0],
 ['Benin', 'April', 55, 1],
 ['Benin', 'May', 168, 2],
 ['Benin', 'June', 967, 18],
 ['Benin', 'July', 606, 15],
 ['Benin', 'August', 340, 4],
 ['Benin', 'September', 212, 1],
 ['Benin', 'December', 215, 0],
 ['Benin', 'October', 232, 0],
 ['Benin', 'January', 138, 2],
 ['Benin', 'November', 234, 0],
 ['Benin', 'February', 75, 1],
 ['Bhutan', 'March', 4, 0],
 ['Bhutan', 'April', 3, 0],
 ['Bhutan', 'May', 36, 0],
 ['Bhutan', 'June', 34, 0],
 ['Bhutan', 'July', 24, 0],
 ['Bhutan', 'August', 124, 0],
 ['Bhutan', 'September', 57, 0],
 ['Bhutan', 'December', 261, 0],
 ['Bhutan', 'October', 43, 0],
 ['Bhutan', 'January', 15, 0],
 ['Bhutan', 'November', 46, 0],
 ['Bhutan', 'February', 23, 0],
 ['Bolivia', 'March', 107, 6],
 ['Bolivia', 'April', 1060, 56],
 ['Bolivia', 'May', 8815, 251],
 ['Bolivia', 'June', 23237, 810],
 ['Bolivia', 'July', 43570, 1854],
 ['Bolivia', 'August', 39809, 2050],
 ['Bolivia', 'September', 18713, 2938],
 ['Bolivia', 'December', 16979, 458],
 ['Bolivia', 'October', 3531, 463],
 ['Bolivia', 'January', 804, 77],
 ['Bolivia', 'November', 2147, 155],
 ['Bolivia', 'February', 1352, 47],
 ['Bosnia and Herzegovina', 'March', 420, 13],
 ['Bosnia and Herzegovina', 'April', 1337, 56],
 ['Bosnia and Herzegovina', 'May', 753, 84],
 ['Bosnia and Herzegovina', 'June', 1943, 33],
 ['Bosnia and Herzegovina', 'July', 7423, 153],
 ['Bosnia and Herzegovina', 'August', 8088, 270],
 ['Bosnia and Herzegovina', 'September', 7505, 247],
 ['Bosnia and Herzegovina', 'December', 16116, 969],
 ['Bosnia and Herzegovina', 'October', 20173, 308],
 ['Bosnia and Herzegovina', 'January', 13329, 349],
 ['Bosnia and Herzegovina', 'November', 24482, 1098],
 ['Bosnia and Herzegovina', 'February', 9416, 470],
 ['Botswana', 'March', 4, 1],
 ['Botswana', 'April', 19, 0],
 ['Botswana', 'May', 12, 0],
 ['Botswana', 'June', 192, 0],
 ['Botswana', 'July', 577, 1],
 ['Botswana', 'August', 829, 4],
 ['Botswana', 'September', 1539, 10],
 ['Botswana', 'December', 2794, 8],
 ['Botswana', 'October', 3423, 6],
 ['Botswana', 'January', 1193, 3],
 ['Botswana', 'November', 2907, 7],
 ['Botswana', 'February', 1316, 2],
 ['Brazil', 'February', 392576, 5875],
 ['Brazil', 'March', 5715, 201],
 ['Brazil', 'April', 81470, 5805],
 ['Brazil', 'May', 427662, 23308],
 ['Brazil', 'June', 887192, 30280],
 ['Brazil', 'July', 1260444, 32881],
 ['Brazil', 'August', 1245787, 28906],
 ['Brazil', 'September', 902663, 22571],
 ['Brazil', 'December', 1192474, 21641],
 ['Brazil', 'October', 479717, 10245],
 ['Brazil', 'January', 139427, 2744],
 ['Brazil', 'November', 660846, 10492],
 ['Brunei', 'March', 129, 1],
 ['Brunei', 'April', 9, 0],
 ['Brunei', 'May', 3, 1],
 ['Brunei', 'June', 0, 1],
 ['Brunei', 'August', 3, 0],
 ['Brunei', 'September', 2, 0],
 ['Brunei', 'December', 5, 0],
 ['Brunei', 'October', 2, 0],
 ['Brunei', 'November', 2, 0],
 ['Brunei', 'February', 2, 0],
 ['Bulgaria', 'March', 399, 8],
 ['Bulgaria', 'April', 1107, 58],
 ['Bulgaria', 'May', 1007, 74],
 ['Bulgaria', 'June', 2476, 90],
 ['Bulgaria', 'July', 6701, 153],
 ['Bulgaria', 'August', 4576, 246],
 ['Bulgaria', 'September', 4567, 196],
 ['Bulgaria', 'December', 33811, 2355],
 ['Bulgaria', 'October', 28973, 392],
 ['Bulgaria', 'January', 26132, 492],
 ['Bulgaria', 'November', 66324, 2264],
 ['Bulgaria', 'February', 26193, 1248],
 ['Burkina Faso', 'March', 261, 14],
 ['Burkina Faso', 'April', 384, 29],
 ['Burkina Faso', 'May', 202, 10],
 ['Burkina Faso', 'June', 115, 0],
 ['Burkina Faso', 'July', 144, 0],
 ['Burkina Faso', 'August', 262, 2],
 ['Burkina Faso', 'September', 688, 3],
 ['Burkina Faso', 'December', 3436, 18],
 ['Burkina Faso', 'October', 246, 7],
 ['Burkina Faso', 'January', 81, 0],
 ['Burkina Faso', 'November', 305, 1],
 ['Burkina Faso', 'February', 583, 1],
 ['Burundi', 'March', 2, 0],
 ['Burundi', 'April', 9, 1],
 ['Burundi', 'May', 52, 0],
 ['Burundi', 'June', 107, 0],
 ['Burundi', 'July', 217, 0],
 ['Burundi', 'August', 58, 0],
 ['Burundi', 'September', 63, 0],
 ['Burundi', 'December', 105, 1],
 ['Burundi', 'October', 70, 0],
 ['Burundi', 'January', 29, 0],
 ['Burundi', 'November', 74, 0],
 ['Burundi', 'February', 32, 0],
 ['Cambodia', 'January', 10, 0],
 ['Cambodia', 'February', 30, 0],
 ['Cambodia', 'March', 108, 0],
 ['Cambodia', 'April', 13, 0],
 ['Cambodia', 'May', 3, 0],
 ['Cambodia', 'June', 16, 0],
 ['Cambodia', 'July', 98, 0],
 ['Cambodia', 'August', 35, 0],
 ['Cambodia', 'September', 3, 0],
 ['Cambodia', 'December', 28, 0],
 ['Cambodia', 'October', 8, 0],
 ['Cambodia', 'November', 26, 0],
 ['Cameroon', 'March', 193, 6],
 ['Cameroon', 'April', 1639, 55],
 ['Cameroon', 'May', 4072, 130],
 ['Cameroon', 'June', 6688, 122],
 ['Cameroon', 'July', 4663, 78],
 ['Cameroon', 'August', 1887, 20],
 ['Cameroon', 'September', 1696, 7],
 ['Cameroon', 'December', 1679, 10],
 ['Cameroon', 'October', 590, 3],
 ['Cameroon', 'January', 628, 7],
 ['Cameroon', 'November', 2024, 4],
 ['Cameroon', 'February', 518, 6],
 ['Canada', 'January', 34727, 426],
 ['Canada', 'February', 57601, 870],
 ['Canada', 'March', 8507, 152],
 ['Canada', 'April', 45930, 4027],
 ['Canada', 'May', 38022, 3727],
 ['Canada', 'June', 13618, 874],
 ['Canada', 'July', 12184, 245],
 ['Canada', 'August', 12637, 168],
 ['Canada', 'September', 30189, 198],
 ['Canada', 'December', 164785, 2930],
 ['Canada', 'October', 56688, 608],
 ['Canada', 'November', 109521, 1537],
 ['Cape Verde', 'March', 6, 1],
 ['Cape Verde', 'April', 115, 0],
 ['Cape Verde', 'May', 314, 3],
 ['Cape Verde', 'June', 792, 11],
 ['Cape Verde', 'July', 1224, 8],
 ['Cape Verde', 'August', 1433, 17],
 ['Cape Verde', 'September', 2140, 20],
 ['Cape Verde', 'December', 1433, 17],
 ['Cape Verde', 'October', 1984, 22],
 ['Cape Verde', 'January', 626, 5],
 ['Cape Verde', 'November', 1342, 5],
 ['Cape Verde', 'February', 431, 4],
 ['Central African Republic', 'March', 3, 0],
 ['Central African Republic', 'April', 47, 0],
 ['Central African Republic', 'May', 961, 2],
 ['Central African Republic', 'June', 2734, 45],
 ['Central African Republic', 'July', 863, 12],
 ['Central African Republic', 'August', 103, 3],
 ['Central African Republic', 'September', 118, 0],
 ['Central African Republic', 'December', 60, 0],
 ['Central African Republic', 'October', 13, 0],
 ['Central African Republic', 'January', 14, 0],
 ['Central African Republic', 'November', 33, 1],
 ['Central African Republic', 'February', 14, 0],
 ['Chad', 'March', 7, 0],
 ['Chad', 'April', 66, 5],
 ['Chad', 'May', 705, 60],
 ['Chad', 'June', 88, 9],
 ['Chad', 'July', 70, 1],
 ['Chad', 'August', 77, 2],
 ['Chad', 'September', 187, 8],
 ['Chad', 'December', 455, 7],
 ['Chad', 'October', 209, 8],
 ['Chad', 'January', 68, 1],
 ['Chad', 'November', 137, 2],
 ['Chad', 'February', 44, 1],
 ['Chile', 'February', 13037, 280],
 ['Chile', 'March', 2842, 12],
 ['Chile', 'April', 14858, 215],
 ['Chile', 'May', 105848, 827],
 ['Chile', 'June', 155843, 4634],
 ['Chile', 'July', 76274, 3769],
 ['Chile', 'August', 56059, 1832],
 ['Chile', 'September', 51265, 1452],
 ['Chile', 'December', 58973, 1397],
 ['Chile', 'October', 32487, 987],
 ['Chile', 'January', 12623, 381],
 ['Chile', 'November', 28864, 822],
 ['China', 'January', 9581, 198],
 ['China', 'February', 70550, 2629],
 ['China', 'March', 2923, 472],
 ['China', 'April', 1677, 1328],
 ['China', 'May', 190, 1],
 ['China', 'June', 639, 3],
 ['China', 'July', 2870, 20],
 ['China', 'August', 2259, 62],
 ['China', 'September', 631, 16],
 ['China', 'December', 2271, 34],
 ['China', 'October', 615, 0],
 ['China', 'November', 1209, 2],
 ['Colombia', 'March', 906, 16],
 ['Colombia', 'April', 5601, 277],
 ['Colombia', 'May', 22876, 646],
 ['Colombia', 'June', 68463, 2395],
 ['Colombia', 'July', 197662, 6771],
 ['Colombia', 'August', 319586, 9557],
 ['Colombia', 'September', 214585, 6336],
 ['Colombia', 'December', 315263, 6402],
 ['Colombia', 'October', 179884, 3819],
 ['Colombia', 'January', 74880, 1660],
 ['Colombia', 'November', 167742, 3792],
 ['Colombia', 'February', 75327, 1542],
 ['Comoros', 'April', 1, 0],
 ['Comoros', 'May', 105, 2],
 ['Comoros', 'June', 197, 5],
 ['Comoros', 'July', 75, 0],
 ['Comoros', 'August', 45, 0],
 ['Comoros', 'September', 56, 0],
 ['Comoros', 'December', 222, 3],
 ['Comoros', 'October', 50, 0],
 ['Comoros', 'January', 18, 0],
 ['Comoros', 'November', 48, 0],
 ['Comoros', 'February', 6, 0],
 ['Congo', 'March', 19, 0],
 ['Congo', 'April', 201, 9],
 ['Congo', 'May', 391, 11],
 ['Congo', 'June', 476, 17],
 ['Congo', 'July', 2113, 17],
 ['Congo', 'August', 779, 24],
 ['Congo', 'September', 1110, 11],
 ['Congo', 'December', 1087, 10],
 ['Congo', 'October', 172, 2],
 ['Congo', 'January', 89, 0],
 ['Congo', 'November', 395, 2],
 ['Congo', 'February', 275, 5],
 ['Costa Rica', 'March', 347, 2],
 ['Costa Rica', 'April', 372, 4],
 ['Costa Rica', 'May', 337, 4],
 ['Costa Rica', 'June', 2403, 6],
 ['Costa Rica', 'July', 14361, 134],
 ['Costa Rica', 'August', 23467, 286],
 ['Costa Rica', 'September', 34473, 468],
 ['Costa Rica', 'December', 30926, 472],
 ['Costa Rica', 'October', 23918, 330],
 ['Costa Rica', 'January', 7616, 106],
 ['Costa Rica', 'November', 22051, 235],
 ['Costa Rica', 'February', 9050, 138],
 ["Cote d'Ivoire", 'March', 179, 1],
 ["Cote d'Ivoire", 'April', 1096, 13],
 ["Cote d'Ivoire", 'May', 1558, 19],
 ["Cote d'Ivoire", 'June', 6666, 35],
 ["Cote d'Ivoire", 'July', 6548, 34],
 ["Cote d'Ivoire", 'August', 2020, 15],
 ["Cote d'Ivoire", 'September', 1657, 3],
 ["Cote d'Ivoire", 'December', 1255, 4],
 ["Cote d'Ivoire", 'October', 680, 6],
 ["Cote d'Ivoire", 'January', 119, 0],
 ["Cote d'Ivoire", 'November', 496, 6],
 ["Cote d'Ivoire", 'February', 216, 1],
 ['Croatia', 'February', 30936, 581],
 ['Croatia', 'March', 861, 6],
 ['Croatia', 'April', 1209, 63],
 ['Croatia', 'May', 170, 34],
 ['Croatia', 'June', 531, 4],
 ['Croatia', 'July', 2362, 38],
 ['Croatia', 'August', 5130, 41],
 ['Croatia', 'September', 6324, 94],
 ['Croatia', 'December', 54318, 1586],
 ['Croatia', 'October', 29870, 233],
 ['Croatia', 'January', 19460, 286],
 ['Croatia', 'November', 59666, 954],
 ['Cuba', 'March', 186, 6],
 ['Cuba', 'April', 1315, 55],
 ['Cuba', 'May', 544, 22],
 ['Cuba', 'June', 296, 3],
 ['Cuba', 'July', 267, 1],
 ['Cuba', 'August', 1424, 7],
 ['Cuba', 'September', 1565, 28],
 ['Cuba', 'December', 3103, 11],
 ['Cuba', 'October', 944, 5],
 ['Cuba', 'January', 462, 2],
 ['Cuba', 'November', 935, 5],
 ['Cuba', 'February', 822, 1],
 ['Cyprus', 'February', 2721, 19],
 ['Cyprus', 'March', 262, 8],
 ['Cyprus', 'April', 588, 7],
 ['Cyprus', 'May', 94, 2],
 ['Cyprus', 'June', 54, 2],
 ['Cyprus', 'July', 116, 0],
 ['Cyprus', 'August', 374, 1],
 ['Cyprus', 'September', 267, 2],
 ['Cyprus', 'December', 8929, 54],
 ['Cyprus', 'October', 2415, 1],
 ['Cyprus', 'January', 1732, 2],
 ['Cyprus', 'November', 4467, 21],
 ['Czechia', 'February', 33629, 841],
 ['Czechia', 'March', 3308, 31],
 ['Czechia', 'April', 4374, 205],
 ['Czechia', 'May', 1586, 84],
 ['Czechia', 'June', 2686, 29],
 ['Czechia', 'July', 4620, 33],
 ['Czechia', 'August', 8044, 42],
 ['Czechia', 'September', 46145, 231],
 ['Czechia', 'December', 200345, 2694],
 ['Czechia', 'October', 225728, 2346],
 ['Czechia', 'January', 82079, 1777],
 ['Czechia', 'November', 106117, 3267],
 ['Democratic Republic of Congo', 'March', 98, 8],
 ['Democratic Republic of Congo', 'April', 474, 23],
 ['Democratic Republic of Congo', 'May', 2498, 41],
 ['Democratic Republic of Congo', 'June', 3969, 98],

In [31]:
afgi = location_dic['Afghanistan']
relevant_data1.new_cases[afgi]
i=0
dic = {}
month = months[relevant_data1.date[0]-1]
print(month)
dic[month] = [1, 0]
while(month=='February'):
    new_cases = relevant_data1.new_cases[i]
    new_deaths = relevant_data1.new_deaths[i]
    if np.isnan(new_cases):
            new_cases = 0;
    if np.isnan(new_deaths):
            new_deaths = 0;
    dic[month][0] += int(new_cases)
    dic[month][0] += int(new_deaths)
    month = months[relevant_data1.date[i]-1]
    i +=1
    
print(dic)

February
{'February': [2, 0]}

0
1
2
3
4
5
6
7
8
9